html, body{
	margin: 0;
}

#all{
	font-family: 'Montserrat', sans-serif;	
}

#first{
	background-image: url(bg.jpeg);
	height: 500px;
	color: white;
}

.logo{
	height: 50px;
	width: 150px;
	position: relative;
	right: 0px;
    left: 90px;
    top: 40px;
    float: left;


}

.logo img{
	width: 100%;
}

.navbar{
	position: relative;
	right: 90px;
	top: 40px;
	float: right;

}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	

}

.navbar ul li{
	float: right;
	padding: 10px 30px;
	}
	
.titulo{
	text-align: center;
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 150px;


}

.up_buttons{
	text-align: center;
	    padding-top: 20px;



}

.up_buttons button{
	background-color: #08599e;
	border-style: solid;
	border-color: #08599e;
	border-radius: 5px;
	color: white;
	font-family: arial;
	font-size: 20px;
	padding: 10px;
    margin: 10px;
}	

.subtitulo{
	text-align: center;
}

#second h2{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

#second p{
	text-align: center;
	font-style: italic;
}

#second img{
	height: 100%;
	width: 100%;
}

#third{
	background-color:#80808024;
	margin-top: 1px;
	border-style: solid;
	border-color: #d2d2d2;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
}

#third h2{
	margin: 0;
	padding-top: 30px;
	text-align: center;
}


#third .texto{
	text-align: center;
	font-style: italic;

}

#third .button{
	text-align: center;
}

#third .button button{
	text-align: center;	
	background-color: #08599e;
	border-style: solid;
	border-color: #08599e;
	border-radius: 5px;
	color: white;
	font-family: arial;
	font-size: 20px;
	padding: 10px;
    margin: 10px;
}

#third .subtitulo{
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;

}

#ff{
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 30px;
}

#fourth{
	display: inline-block;
	float: left;
	text-align: left;
	height: 250px;
	position: relative;
	padding-left: 200px;
}

#fifth{
	display: inline-block;
	float: right;
	height: 250px;
	position: relative;
	padding-right: 300px;
	text-align: left;
}

#fifth p{
	font-style: italic;
}

#six{
	clear: left;
}

.bold{
	font-weight: bolder;
	font-size: 20px;
}

#six{
	background-color: #1f1e1e;
	color: #d8caca;
	height: 100px;
	border-style: solid;
	border-color: gray;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;

}

#six div{
	position: relative;

    left: 200px;
    top: 20px;
    font-style: italic;

}