html, body{
	margin: 0;
}

#all{
	font-family: arial;	
}

#first{
	background-image: url(bg.jpeg);
	height: 500px;
	color: white;
}

.logo{
	height: 50px;
	width: 150px;
	position: relative;
	right: 0px;
    left: 90px;
    top: 40px;
    float: left;


}

.logo img{
	width: 100%;
}

.navbar{
	position: relative;
	right: 90px;
	top: 40px;
	float: right;

}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	

}

.navbar ul li{
	float: right;
	padding: 10px 30px;
	}
	
.titulo{
	text-align: center;
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 150px;


}

.up_buttons{
	text-align: center;


}

.up_buttons button{
	background-color: #0089ff;
	border-style: solid;
	border-color: #00ff1f;
	border-radius: 5px;
	color: white;
	font-family: arial;
	font-size: 15px;
	padding: 10px;
    margin: 10px;
}	

.subtitulo{
	text-align: center;
}

#second h2{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

#second p{
	text-align: center;
}

#second img{
	height: 100%;
	width: 100%;
}

#third